#list-bullet {
    text-decoration-color: var(--brand-text);
}

#breakdown-list {
    list-style-type: none;
}

#breakdown-list a {
    text-decoration-line: none;
    color: var(--brand-text);
}

#breakdown-list a:hover {
    text-decoration-color: var(--brand-accent-primary);
    text-decoration-line: underline;
    color: var(--brand-text);
}

#project-box {
    padding-left: 32px;
    font-size: 40px;
    width: 80%;
}

h2#project-header {
    font-size: 40px !important;
}
h2#project-header, ul#breakdown-list {
    margin: 16px;
    font-size: 32px;
}

ul li#list-bullet {
    list-style-type: disc;
}

/* Mobile phone sizes (up to 767px) */
@media screen and (max-width: 767px) {

    #project-box {
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    }

    #project-header {
        font-size: 28px !important;
    }

    #list-bullet {
        font-size: 20px !important;
    }

    #breakdown-list a {
        text-decoration: underline;
        text-decoration-color: var(--brand-accent-primary);
        font-size: 20px;
    }

    h2#project-header, ul#breakdown-list {
        margin: 8px;
        font-size: 24px;
    }

}

/* Tablet sizes (768px - 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    #project-box {
        padding-left: 32px;
        width: 90%;
    }

    #project-header {
        font-size: 36px !important;
    }

}
