@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.nav-title h1, a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
}

i {
    color: white;
}
.filter-item, .filter-wrapper span, .mono {
    font-family: Inter, sans-serif;
    font-weight: 400;
}
.h1, h1 {
    font-size: 3.5rem;
    letter-spacing: .5px;
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: white;
}
@media screen and (max-width:480px) {
    .h1, h1 {
    font-size: 2.25rem;
}
}.h2, h2 {
    font-size: 1.875rem;
    margin-bottom: 1rem;
    color: white;
}
.h2, .h3, h2, h3 {
    line-height: 1.5;
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #F5F5F5;
}
.h3, h3 {
    font-size: 1.5rem;
    color: white;
}
.h4, .nav-title h1, h4 {
    font-size: 1.125rem;
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.5;
}
.button-link, .category-link, .h5, .list-row:before, h5 {
    font-size: 1rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #ccc;
}
.article-body ul li, .p, p {
    font-size: 1.25rem;
    font-family: Inter, Helvetica, Arial, sans-serif;
    line-height: 2;
    margin-bottom: 2rem;
    font-weight: 300;
}
a, strong {
    font-weight: 500;
}
p code {
    font-family: Inter, Helvetica, Arial, sans-serif;
    padding: .5rem;
    background: #f6f6f6;
    margin: 0 .125rem;
}
.sub, sub {
    color: #F5F5F5;
}
.subsub {
    color: #ccc;
}
html {
    padding: 0;
    margin: 0;
}
body {
    /* color: #222; */
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    line-height: 2;
    background-color: #364F6B; 
     /* background-color: #34495E; */
}
a, a:hover {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
hr {
    margin: 3rem 0;
    border: 0;
    border-bottom: 1px solid #ccc;
}
hr.section-divider {
    margin: 6rem 0;
}
.content {
    margin: 0 auto 6rem;
    max-width: 66rem;
    position: relative;
    padding: 0 3rem;
}
.content:after {
    clear: both;
    content: " ";
    display: block;
}
section {
    margin: 3rem auto 0;
}
@media screen and (max-width:1280px) {
    section {
    padding: 0;
}
}.full-width {
    padding: 0;
}
.list-row:before, .rich-before:before {
    display: inline-block;
    width: 3rem;
    text-align: center;
    margin-right: 3rem;
}
.rich-after:after {
    display: inline-block;
    width: 3rem;
    text-align: center;
    margin-left: 3rem;
}
.article-image-hero, .image-fill, .post-image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}
.article-image-hero img, .image-fill img, .post-image img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -o-object-fit: cover;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%}
.post-image, .ratio {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.post-image:before, .ratio:before {
    content: "";
    display: block;
    padding-top: 100%}
.post-image>*, .ratio>* {
    position: absolute;
}
.ratio-2_1:before {
    padding-top: 50%}
.ratio-16_9:before {
    padding-top: 56.25%}
.ratio-3_2:before {
    padding-top: 66.67%}
.ratio-4_3:before {
    padding-top: 75%}
.post-image:before, .ratio-8_5:before {
    padding-top: 62.5%}
.list-shadow .list-image, .shadow {
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, .075);
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
.nav a {
    font-weight: 400;
}
.nav-left, .nav>* {
    display: -ms-flexbox;
    display: flex;
}
.nav-left {
    -ms-flex-align: center;
    align-items: center;
}
.nav-left:hover {
    text-decoration: underline;
}
.nav-left:hover .nav-avatar {
    transform: scale(1.1);
}

.nav-social-item:hover {
    transform: scale(1.2);
}
.nav-avatar {
    height: 3rem;
    width: 3rem;
    display: block;
    background-size: cover;
    margin-right: 1rem;
    transition: color .3s ease, background .3s ease, transform .15s ease;
}
.nav-avatar img {
    border-radius: 50%}
.nav-title h1 {
    margin-bottom: 0;
    font-weight: 500;
    letter-spacing: 0;
}
.nav-social {
    display: -ms-flexbox;
    display: flex;
}
.nav-social-item {
    width: 1rem;
    height: 1rem;
    padding: .5rem;
    margin-left: 1rem;
}
.nav-social-item svg {
    display: block;
}
.nav-social-item svg path {
    fill: #888;
}

.filter-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 1rem 1rem 1rem 1.5rem;
}
.filter-wrapper span {
    color: #888;
}
.filter-list {
    display: -ms-flexbox;
    display: flex;
}
.filter-item {
    color: #888;
    margin-left: 1rem;
    list-style: none;
    padding: 0 .5rem;
}
.filter-item:hover {
    color: #222;
    cursor: pointer;
}
.post-filter-hidden {
    display: none;
}
.intro {
    padding: 3rem 0;
}
.intro h2 {
    line-height: 2;
    font-weight: 400;
    margin-bottom: 0;
}
@media screen and (max-width:768px) {
    .intro h2 {
    font-size: 1.5rem;
}
}.intro a {
    font-weight: 400;
    white-space: nowrap;
}
.intro a:hover {
    border-bottom: 2px solid white;
} 

.intro-link-rangeme {
    font-weight: 500 !important;
}

.intro-link-rangeme, .intro-link-rangeme:hover {
    color: #b6e2ff;
}
.intro-link-columbia, .intro-link-columbia:hover {
    color: #9BDFFF;
}
.intro-link-facebook, .intro-link-facebook:hover {
    color: #a5d2ff;
}

sub>a.intro-link {
    opacity: .75;
}
sub>a.intro-link:hover {
    opacity: 1;
}
.category-header {
    margin-bottom: 3rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.category-link {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3dcc3d;
}
.category-link:hover {
    color: rgba(61, 204, 61, .5);
}
.post-index {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: left;
    align-content: left;
}
.post-item-wrapper {
    width: calc(25% - 2rem);
    margin-bottom: 3rem;
    text-align: center;
}
.post-item-wrapper:hover h3 {
    text-decoration: underline;
}
.post-item-wrapper:hover .post-metadata {
    color: #888;
}
.post-item-wrapper:hover .post-image {
    transform: scale(1.025);
    transition: color .3s ease, background .3s ease, transform .15s ease;
}
@media screen and (max-width:1280px) {
    .post-item-wrapper {
    width: calc(33% - 2rem);
}
}@media screen and (max-width:768px) {
    .post-item-wrapper {
    width: calc(50% - 2rem);
}
}@media screen and (max-width:480px) {
    .post-item-wrapper {
    width: 100%}
}.related-posts .post-item-wrapper {
    width: calc(50% - 2rem);
}
@media screen and (max-width:480px) {
    .related-posts .post-item-wrapper {
    width: 100%}
}.metadata-label {
    color: #3dcc3d;
    text-transform: uppercase;
}
.post-image {
    margin-bottom: 1rem;
    width: 100%;
    transition: color .3s ease, background .3s ease, transform .15s ease;
}
.post-info {
    text-align: left;
}
.post-info-wrapper {
    display: -ms-flexbox;
    display: flex;
}
.post-title {
    padding-right: .25rem;
    color: white;
}
.post-metadata {
    margin-top: .5rem;
}
.article-header {
    max-width: 100%;
    margin-top: 6rem;
}
.article-header-tight {
    width: 43rem;
    margin-left: auto;
    margin-right: auto;
}
.article-header-tight .article-metadata {
    margin-bottom: 0;
}
.article-title {
    font-weight: 500;
}
.article-metadata {
    margin: 1.5rem 0 3rem;
    color: #888;
}
.article-metadata a:hover {
    color: #222;
    text-decoration: underline;
}
.article-image-hero {
    margin-bottom: 6rem;
}
.article-body {
    width: 49.5rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.article-body p a {
    text-decoration: underline;
}
.article-body p a:hover {
    color: #888;
}
.article-body h1 {
    margin: 4rem 0;
}
.article-body h2 {
    margin: 4rem 0 2rem;
}
.article-body h3 {
    margin: 3rem 0 2rem;
}
.article-body img {
    display: block;
}
.article-body blockquote p {
    padding: .25rem 0 .25rem 2rem;
    border-left: 4px solid #eee;
    margin: 3rem 0;
    color: #888;
}
.article-body p em {
    font-style: italic;
}
.article-body ul {
    margin-bottom: 2rem;
}
.article-body ul li {
    display: list-item;
    list-style-type: disc;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    padding-left: 1rem;
}
.article-body-full {
    width: 100%}
.post-talk .article-body {
    padding: 0;
}
ul.article-list {
    margin-bottom: 4rem;
}
ul.article-list h3 {
    margin: 0;
}
p img {
    margin: 4rem 0;
    width: 100%}
.embed {
    max-width: 100%;
    vertical-align: middle;
    clear: both;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 6rem 0;
}
/* .embed embed, .embed iframe, .embed object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%}
.button-link {
    color: #fff;
    border-radius: 3px;
    display: block;
    width: 50%;
    max-width: 100%!important;
    padding: 1rem 0;
    transition: color .3s ease, background .3s ease, transform .15s ease;
    text-align: center;
    text-decoration: none!important;
    margin: 6rem auto; */
}
.button-link:after {
    content: "→";
    margin-left: 1rem;
}
.button-link:hover {
    color: #fff!important;
}
.button-link-dark {
    color: #222;
}
.button-link-dark:hover {
    color: #222!important;
}
.posts-list {
    margin-left: 6rem;
}
.list {
    margin-left: -6rem;
}
.list-numbered .list-row:before {
    content: counter(a);
}
.list-photo-circle .list-image {
    border-radius: 50%}
.list-photo-big .list-image {
    width: 6rem;
    height: 6rem;
}
ul li.list-item {
    list-style-type: none;
    counter-increment: a;
    width: 100%;
    margin-bottom: 3rem;
    margin-left: 0;
    padding-left: 0;
}
.list-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
}
.list-row:before {
    content: "∙"}
.list-row h2 {
    margin: 0;
}
.list-row h5 {
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}
.list-row .list-image {
    margin-right: 3rem;
}
.list-row p {
    margin-left: 12rem;
}
.list-title {
    margin-bottom: 0;
    max-width: 28rem;
}
.list-image {
    width: 3rem;
    height: 3rem;
    border: 0;
    transition: color .3s ease, background .3s ease, transform .15s ease;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
}
.list-image-nonuniform {
    -o-object-fit: contain;
    object-fit: contain;
}
.list-detail em {
    color: #888;
}
.list-item:hover .list-image {
    transform: scale(1.2);
    transition: color .3s ease, background .3s ease, transform .15s ease;
}
.list-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.list-grid .list-item {
    width: 12rem;
    text-align: center;
    margin-bottom: 4rem;
}
@media screen and (max-width:480px) {
    .list-grid .list-item {
    width: 100%}
}.list-grid .list-item h3 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: .25rem;
}
.list-grid .list-item h5 {
    color: #888;
}
.list-grid .list-item .list-image {
    width: 12rem;
    height: 12rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}
@media screen and (max-width:480px) {
    .list-grid .list-item .list-image {
    width: 100%;
    height: auto;
    margin: inherit 0;
}
}.list-grid .list-item:hover .list-image {
    transform: scale(1.05);
    transition: color .3s ease, background .3s ease, transform .15s ease;
}
.list-grid .list-item:hover .list-rank:before {
    color: #3dcc3d;
}
.list-grid .list-item:hover h5 {
    color: #222;
}
.list-grid .list-item:hover h5 .subsub {
    color:  #F5F5F5;
}
.list-grid .list-item:hover .list-rating {
    color: #fff!important;
    border-color: #888;
    background: #888;
}
.list-grid .list-item:hover .list-rating-1, .list-grid .list-item:hover .list-rating-2, .list-grid .list-item:hover .list-rating-3 {
    background: #ff4c4c;
    border-color: #ff4c4c;
}
.list-grid .list-item:hover .list-rating-7, .list-grid .list-item:hover .list-rating-8, .list-grid .list-item:hover .list-rating-9, .list-grid .list-item:hover .list-rating-10 {
    background: #3dcc3d;
    border-color: #3dcc3d;
}
.list-grid-numbered .list-item {
    margin-bottom: 4rem;
}
.list-grid-numbered .list-rank {
    margin-bottom: 1.5rem;
}
.list-grid-numbered .list-rank:before {
    content: counter(a);
    color: #ccc;
}
.list-rating {
    font-weight: 600;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 100%}
.list-rating, .list-rating-1, .list-rating-2, .list-rating-3 {
    transition: color .3s ease, background .3s ease, transform .15s ease;
}
.list-rating-1, .list-rating-2, .list-rating-3 {
    color: #ff4c4c!important;
    border-color: rgba(255, 76, 76, .5);
}
.list-rating-7, .list-rating-8, .list-rating-9, .list-rating-10 {
    color: #3dcc3d!important;
    border-color: rgba(61, 204, 61, .5);
    transition: color .3s ease, background .3s ease, transform .15s ease;
}
#typed-strings {
    color: black;
}
@media screen and (min-width:1921px) {
    body, html {
    font-size: 22px;
}
}@media screen and (max-width:1920px) {
    body, html {
    font-size: 20px;
}
}@media screen and (max-width:1440px) {
    body, html {
    font-size: 16px;
}
}@media screen and (max-width:1280px) {
    body, html {
    font-size: 15px;
}
}@media screen and (max-width:1024px) {
    body, html {
    font-size: 15px;
}
.filter-wrapper, .hide-tablet {
    display: none;
}
}@media screen and (min-width:641px) {
    .mobile-only {
    display: none;
}
}@media screen and (max-width:640px) {
    body, html {
    font-size: 14px;
}
.filter-wrapper, .hide-mobile {
    display: none;
}
}@media screen and (max-width:480px) {
    body, html {
    font-size: 13px;
}
}@media screen and (max-width:319px) {
    body, html {
    font-size: 8px;
}
}