/* =============================================
   DESIGN TOKENS - CSS Variables
   ============================================= */

:root {
    /* Sydney Metro Theme (Default) */
    --brand-bg: #FF6900;
    --brand-text: black;
    --brand-text-inverse: white;
    --brand-accent-primary: #FF6900;
    --nav-arrow-bg: #FF6900;
    --font-heading: 'Flama', Arial, Helvetica, sans-serif;
    --font-body: 'Flama', Arial, Helvetica, sans-serif;
    --platform-label: "Platform";
    --page-bg: white;
    --page-bg-dark: black;
}

/* Sea-Tac Airport Theme */
[data-theme="sea"] {
    --brand-bg: #2D2926;
    --brand-text: #FFFFFF;
    --brand-text-inverse: #2D2926;
    --brand-accent-primary: #FFC72C;
    --nav-arrow-bg: #EB002A;
    --font-heading: 'Vegur', Arial, Helvetica, sans-serif;
    --font-body: 'Vegur', Arial, Helvetica, sans-serif;
    --platform-label: "Gate";
    --page-bg: #2D2926;
    --page-bg-dark: #2D2926;
}

/* NYC Vignelli Subway Theme */
[data-theme="nyc"] {
    --brand-bg: #0039A6;
    --brand-text: #000000;
    --brand-text-inverse: #FFFFFF;
    --brand-accent-primary: #0039A6;
    --nav-arrow-bg: #000000;
    --font-heading: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --platform-label: "Line";
    --page-bg: #FFFFFF;
    --page-bg-dark: #1A1A1A;
}

/* =============================================
   FONT FACES
   ============================================= */

@font-face {
    font-family: 'Flama';
    font-style: normal;
    font-weight: normal;
    src: local('Flama'), url('../fonts/Flama Regular.woff') format('woff');
}

@font-face {
    font-family: 'Vegur';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Vegur-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Vegur';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Vegur-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Vegur';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Vegur-Light.otf') format('opentype');
}

* {
    box-sizing: border-box;
  }

body {
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: var(--font-body);
}

/* Sea-Tac theme base styles */
[data-theme="sea"] body,
body[data-theme="sea"] {
    background-color: var(--page-bg);
    color: var(--brand-text);
}

html[data-theme="sea"] {
    background-color: var(--page-bg);
}

/* Sea-Tac Nav Arrow Component */
.sea-nav-arrow {
    background-color: var(--nav-arrow-bg);
    color: white;
    display: inline-flex;
    width: 1.5em;
    height: 1.5em;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 0.8em;
    margin-right: 4px;
}

#page-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--brand-text);
    font-size: 56px;
    font-family: var(--font-heading);
}

[data-theme="sea"] h1 {
    font-weight: bold;
}

#navbar {
    padding-left: 0px;
    /* position: fixed; */
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    background: var(--brand-bg);
    vertical-align: middle;
}

#footer {
    width: 100%;
    padding-bottom: 16px;
}

#footer-links {
    display: inline-block;
    text-align:right;
    list-style: none;
    padding-right: 32px;
}


#footer-links a {
    text-decoration: none;
    color: var(--brand-text);
    font-size: 32px;
    font-weight: 400;
    padding-right: 8px;
}

.footer-text:hover {
    text-decoration: underline !important;
    text-decoration-color: var(--brand-accent-primary) !important;
}

#transit-arrow {
    font-size: 32px;
    display: inline;
}

#footer #time {
    right: 0px;
    padding-right: 32px;
    font-size: 32px;
    color: var(--brand-text) !important;
}

.header-text {
    text-decoration: none !important;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    color: white;
}

#navbar #home {
    color: white;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    padding-left: 32px;
    font-size: 32px;
    font-weight: 400;
}

#navbar #time {
    right: 0px;
    padding-right: 32px;
    font-size: 32px;
}


#intro-section {
    padding-top: 16px;
    padding-left: 32px;
    display: inline;
}

#intro-section h1  {
    padding:0px;
    margin:0px; 
    padding-bottom: 0px;
}

#intro-section h2 {
    padding:0px;
    margin:0px; 
    font-weight: 300;
    padding-top: 0px;
}

#section-break-head {
    width: 100%;
    margin: 0 auto;
    padding-top: 16px;
}

#section-break {
    border-top: 2px solid var(--brand-text);
    margin-left: 32px;
    margin-right: 32px;
}

#about-me {
    padding-left: 32px;
    font-size: 40px;
    width: 64%;
}

a#tpt {
    color: #0aa96c !important;
    text-decoration: none;
}

a#tpt:hover {
    text-decoration: underline;
    text-decoration-color: #0aa96c !important;
}

#rangeme {
    color: #006FCF;
    text-decoration: none;
}

#rangeme:hover {
    text-decoration: underline;
    text-decoration-color: #006FCF;
}

#interact {
    color: #3a3836;
    text-decoration: none;
}

#interact:hover {
    text-decoration: underline;
    text-decoration-color: #3a3836;
}

#columbia {
    color: #9BDFFF;
    text-decoration: none;
}

#columbia:hover {
    text-decoration: underline;
    text-decoration-color: #9BDFFF;
}

div#header-and-platform1 {
    padding-bottom: 48px !important;
}

#contact-box {
    padding-bottom: 24px;
    padding-top: 24px;
    width: 100%;
    margin-top: auto;
} 


#social-nav-icons {
    padding-bottom: 16px;
    text-align: right;
    float: right;
} 
#contact-box h1 {
    text-align: right;
    float: right;
    font-size: 32px;
    font-weight: 500;
    padding-right: 32px;
}

#contact-text {
    padding-bottom: 16px;
}

#contact-social {
    text-align: right;
    float: right;
}


#via-text h1 {
    text-align: left;
    float: left;
}

#header-and-platform1 h1 {
    text-align: left !important;
    float: left !important;
}

#header-and-platform1 h2 {
    text-align: right;
    float: right;
}

#platform-text {
    font-size: 32px;
    padding-right: 32px !important;
    font-size: 48px;
    font-weight: 500 !important;
}

#platform-number {
    font-size: 56px;
    padding-right: 32px !important;
    color: var(--brand-accent-primary) !important;
    font-weight: 500 !important;

}

#via-text {
    font-size: 32px;
    font-weight: 400;
    padding-left: 0px !important;
}

.nav-social {
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    text-align: right;
    float: right;
    margin: 0;
    padding: 0;
    padding-right: 16px;
}

.nav-social a {
    text-decoration: none;
    color: var(--brand-accent-primary);
    font-size: 24px;
    font-weight: 400;
    padding-right: 16px;
}
.nav-social-item {
    width: 1rem;
    height: 1rem;
    padding: .5rem;
    margin-left: 1rem;
}
.nav-social-item svg {
    display: block;
}

.nav-social-item:hover {
    transform: scale(1.2);
}

#contact-social-box {
    text-align: right;
    float: right; 
    padding: 0px;
    margin: 0px;
    padding-top: 0px;
    width: 100%;
}

#social-nav-icons h2 {
    text-align: right;
    float: right;
}
  
#intro-section {
  display: flex;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 112px;
}

.flex-container > div {
  width: calc(50% - 16px);
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  height: 32px;
}

#img-box {
 height: 112px;
 width: 112px;
 margin: 16px;
 text-align: center;
 line-height: 75px;
 font-size: 30px;
}

#img-box img {
    max-height: 112px;
    max-width: 112px;
}
#name-header {
    text-align: left; 
}

#platform-name {
    text-align: right;
}

#via-city {
    text-align: left;

}

#platform-number {
    text-align: right;
    padding-right: 0!important;

}

/* preventing highlighting on certain sections of site */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

/* header nav bar */
.navbar-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 112px;
  }

  .navbar-container a {
    text-decoration: none !important;
    color: white;
  }
  
  .navbar-container > div {
    width: calc(50% - 16px);
    text-align: center;
    line-height: 75px;
    font-size: 32px;
    height: 32px;
  }

  #site-breadcrumbs {
      text-align: left;
      vertical-align: middle;
      top: 50%;
      transform: translateY(-40%);
  }

.breadcrumb-padding {
    padding-left: 0px;
}

@media screen and (max-height: 480px) 
  and (orientation: landscape)  { 
    #platform-name, #platform-number {
        display: none !important;
    }
    div#platform-container {
        display: none;
    }

    .flex-container > div {
        width: 100%;
        margin: 8px;
    }

    .navbar-container > div {
        font-size: 16px;
        height: 32px;
      }
  } 

/* Mobile phone sizes (up to 767px) */
@media screen and (max-width: 767px) {

a#home, a#time {
    font-size: 16px !important;
}

#img-box img {
    max-height: 64px;
    max-width: 64px;
}

#navbar #home {
    padding-left: 16px;
}

#intro-section {
    padding-left: 0px;
}

#about-me {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 20px;
    width: 100%;
}

#platform-name, #platform-number {
    display: none;
}
div#platform-container {
    display: none;
}
div#intro-section {
    height: 104px;
}

.flex-container > div {
  width: 100%;
  text-align: center;
  line-height: 75px;
  font-size: 16px;
  height: 32px;
}

h1#name-header, h2#name-header {
    font-size: 24px;
}

#navbar #time {
    right: 0px;
    padding-right: 16px;
    font-size: 16px;
}

.navbar-container > div {
    font-size: 16px;
    height: 32px;
}

.breadcrumb-padding {
    padding-left: 16px;
}

#footer {
    padding-bottom: 8px;
}

#section-break {
    margin-left: 16px;
    margin-right: 16px;
}

#contact-box h1 {
    font-size: 24px;
    padding-right: 16px;
}

.nav-social {
    padding-right: 8px;
}

}


@media screen and (max-height: 480px) 
  and (orientation: landscape)  { 
    #platform-name, #platform-number {
        display: none !important;
    }
    div#platform-container {
        display: none;
    }

    .flex-container > div {
        width: 100%;
        margin: 8px;
    }

    .navbar-container > div {
        font-size: 16px;
        height: 32px;
      }
  } 

/* Tablet sizes (768px - 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .flex-container > div {
        width: 100%;
        padding-bottom: 24px;
    }

    #platform-name, #platform-number {
        display: none;
    }

    div#platform-container {
        display: none;
    }

    #navbar #time {
        right: 0px;
        padding-right: 32px;
        font-size: 24px;
    }

    #about-me {
        font-size: 32px;
        width: 80%;
    }

    .blog-box {
        padding-left: 48px;
        padding-right: 48px;
    }

    h1#name-header {
        font-size: 40px;
    }

}

@media (prefers-color-scheme: dark) {
    html {
        background-color: var(--page-bg-dark);
        color: white;
    }

    p {
        color: white;
    }

    #breakdown-list a {
        color: white !important;
    }
    h1#name-header, h1#contact-text, #footer-links a {
        color: white;
    }
    #section-break {
        border-top: 2px solid white;
    }
    #interact {
        color: #EBE8E4;
    }
}

/* =============================================
   SEA-TAC THEME OVERRIDES
   ============================================= */

[data-theme="sea"] {
    background-color: var(--page-bg);
}

[data-theme="sea"] html,
[data-theme="sea"] body {
    background-color: var(--page-bg);
    color: var(--brand-text);
}

[data-theme="sea"] p {
    color: var(--brand-text);
}

[data-theme="sea"] h1,
[data-theme="sea"] h2,
[data-theme="sea"] h3 {
    color: var(--brand-text);
    font-family: var(--font-heading);
}

[data-theme="sea"] #name-header {
    font-weight: bold;
}

[data-theme="sea"] #about-me {
    color: var(--brand-text);
}

[data-theme="sea"] #section-break {
    border-top: 2px solid var(--brand-text);
}

[data-theme="sea"] #breakdown-list a {
    color: var(--brand-text) !important;
}

[data-theme="sea"] #breakdown-list a:hover {
    text-decoration-color: var(--brand-accent-primary);
}

/* Sea-Tac Transit Arrow styling */
[data-theme="sea"] #transit-arrow {
    background-color: var(--nav-arrow-bg);
    color: white;
    display: inline-flex;
    width: 1.2em;
    height: 1.2em;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 24px;
    margin-right: 4px;
}

/* Sea-Tac logo styling */
[data-theme="sea"] #img-box img {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(5deg);
}

/* Platform label becomes Gate for Sea-Tac */
[data-theme="sea"] #platform-name::after {
    content: " SEA";
}

[data-theme="sea"] #platform-name {
    visibility: hidden;
    position: relative;
}

[data-theme="sea"] #platform-name::before {
    content: "Gate";
    visibility: visible;
    position: absolute;
    right: 0;
}

/* Sea-Tac number styling */
[data-theme="sea"] #platform-number {
    visibility: hidden;
    position: relative;
}

[data-theme="sea"] #platform-number::before {
    content: "SEA";
    visibility: visible;
    position: absolute;
    right: 0;
}

/* =============================================
   NYC VIGNELLI SUBWAY THEME OVERRIDES
   ============================================= */

[data-theme="nyc"] {
    background-color: var(--page-bg);
}

[data-theme="nyc"] html,
[data-theme="nyc"] body {
    background-color: var(--page-bg);
    color: var(--brand-text);
}

[data-theme="nyc"] p {
    color: var(--brand-text);
}

[data-theme="nyc"] h1,
[data-theme="nyc"] h2,
[data-theme="nyc"] h3 {
    color: var(--brand-text);
    font-family: var(--font-heading);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

[data-theme="nyc"] #name-header {
    font-weight: 700;
    text-transform: uppercase;
}

[data-theme="nyc"] #about-me {
    color: var(--brand-text);
}

[data-theme="nyc"] #section-break {
    border-top: 3px solid var(--brand-text);
}

[data-theme="nyc"] #breakdown-list a {
    color: var(--brand-text) !important;
}

[data-theme="nyc"] #breakdown-list a:hover {
    text-decoration-color: var(--brand-accent-primary);
}

/* NYC Transit Arrow styling - Vignelli bullet style */
[data-theme="nyc"] #transit-arrow {
    background-color: var(--brand-accent-primary);
    color: white;
    display: inline-flex;
    width: 1.4em;
    height: 1.4em;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    margin-right: 6px;
}

/* NYC bullet nav style */
[data-theme="nyc"] .nav-social a {
    color: var(--brand-accent-primary);
}

/* Platform label becomes Line for NYC */
[data-theme="nyc"] #platform-name {
    visibility: hidden;
    position: relative;
}

[data-theme="nyc"] #platform-name::before {
    content: "Line";
    visibility: visible;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/* NYC line number styling - subway bullet */
[data-theme="nyc"] #platform-number {
    background-color: var(--brand-accent-primary);
    color: white;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

/* NYC link styling */
[data-theme="nyc"] a {
    color: var(--brand-accent-primary);
    text-decoration: none;
}

[data-theme="nyc"] a:hover {
    text-decoration: underline;
}
