@import url('https://rsms.me/inter/inter-ui.css');


* {
    font-family: 'Inter UI', sans-serif;
    color: white;

}

body, .home {
	overflow-x: hidden;
	margin: 0%;
	background-color: black;
}

.home {
	height: 100vh;
}

h1, h2 {
	color: white;
	word-wrap: break-word;

}

.far:hover, .fab:hover{
	animation: move 4s linear infinite;
	background-image: linear-gradient(to right, #77f, #33d0ff, #25ffbb, #33d0ff, #77f);
	background-size: 200% auto; 
	letter-spacing: 1px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.will-main {
	font-weight: normal;
	font-size: 18vh;
	color: white;
	text-align: center;
	position: relative;
	top: 40%;
	transform: translateY(-50%); 

	animation: move 4s linear infinite;
	background-image: linear-gradient(to right, #77f, #33d0ff, #25ffbb, #33d0ff, #77f);
	background-size: 200% auto;
	letter-spacing: 1px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.will-about {
	font-weight: normal;
	font-size: 8vh;
	top: 30%;
	text-align: center;
	position: relative;
}
@keyframes move { to { background-position: 200% center; } }


.contact-info {
	font-weight: normal;
	font-size: 3vh;
	top: 30%;
	text-align: center;
	position: relative;
}
 

}

#bottom-line {
	letter-spacing: -15px;
	top: 60%;
	margin: auto;
	left: 0%;

}

h2 {
	text-align: center;
	position: relative;
	top: 40%;
	font-size: 4vh;
}

@media only screen and (max-width: 480px) {
  .will-main {
    font-size: 11vh; 
    top: 35%;
    }

   .will-about {
    font-size: 5.2vh;
    top: 25%; 
    word-wrap: break-word;
   } 

   .contact-info {
	position: relative;
	bottom: 0;
	left: 0;
	}

}


@media all and (min-width:768px) and (max-width: 1024px) {
  .will-main {
    font-size: 11vh; 
    top: 35%;
    }

   .will-about {
    font-size: 4.7vh;
    top: 28%; 
    word-wrap: break-word;
   } 

   .contact-info {
	position: relative;
	bottom: 0;
	left: 0;
	}
}








