<div id="contact-box">
  <h1 id="contact-text"> Contact me <br> 

  <ul class="nav-social">

          <a class="nav-social-item" href="https://twitter.com/WillEssilfie" target="_blank"><li class="social-twitter">
            <i class="fab fa-twitter fa-lg"></i>

          </li></a>


          <a class="nav-social-item" href="https://www.linkedin.com/in/wessilfie" target="_blank"><li class="social-linkedin">
            <i class="fab fa-linkedin fa-lg"></i>
          </li></a>

          <a class="nav-social-item" href="https://github.com/wessilfie" target="_blank"><li class="social-github">
            <i class="fab fa-github fa-lg"></i>
          </li></a>

          <a class="nav-social-item" href="mailto:will@essilfie.com" target="_blank"><li class="social-email">
            <i class="fas fa-paper-plane fa-lg"></i>
          </li></a>

        </ul>

   </h1>
</div> 

