<head>

  <meta charset="utf-8" />
  <title>{{site.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta itemprop="name" content="{{site.title}}">
  <meta itemprop="description" content="{{site.description}}">


  <!-- Open Graph data  -->
  <meta property="og:url" content="{{site.url}}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{site.title}}">
  <meta property="og:description" content="{{site.description}}">
  <meta property="og:image" content="{{site.url}}/img/general/header.png">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="1024">

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="{{site.url}}/img/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{site.url}}/img/favicon/favicon-16x16.png" sizes="16x16" />
  
  <meta name="application-name" content="&nbsp;"/>

  <!-- Chrome Theme Color -->
  <meta name="theme-color" content="#FF6900">

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css" inline>
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/projects.css" inline>
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/post.css" inline> 

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <!-- Site Javascript-->
  <script type="text/javascript" src="{{ site.url }}/js/home.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144168528-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-144168528-1');
</script>

</head>